<div class="container" >


  <div class="profile">
    <img src="../../../assets/images/pruebaperfil.jpg" alt="">
    <p><a href="">Nombre de usuario</a></p>
  </div>
  

  <p class="description" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga autem dignissimos tempore culpa! Nobis veniam, velit sunt illo ut eligendi. Exercitationem error iste distinctio, similique vero maxime vel nemo fugiat! </p>
  
  <img class="image" src=".././../../assets/images/promotio.jpg" alt="">

</div>


