*{
  margin: 0;
  padding: 0;
}

.container-main{
  color: white;
  border: 1px solid white;
  width: 36%;
  height: 501px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100px;
  top: 200px;
}
.ng-star-inserted{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.form-group{
  padding-top: 30px;
  border-top: 2px solid gray;
  width: 600px;
}

.des{
  margin-bottom: 100px;
}

.custom-file{
  height: 100px;
  border: 1px white dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}