*{
  margin: 0;
  padding: 0;
}


.container-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #171f2a;
  -webkit-box-shadow: -1px -1px 14px 4px rgba(0,0,0,0.71);
  -moz-box-shadow: -1px -1px 14px 4px rgba(0,0,0,0.71);
  box-shadow: -1px -1px 14px 4px rgba(0,0,0,0.71);
  width: 400px;
  height: auto;
  color: white;
  position: absolute;
  top: 30%;
  left: 40%;
}
.postFile{
  width: 360px;
  height: 115px;
  border: 1px white dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
}


.wrapper{
  background-color: transparent;
  width: 100%;
  padding: 15px 5px 0px 5px;
  height: 50px;
  border: n ;

}
.inputData{
  background: transparent;
  width: 100%;
  position: relative;
  border-radius: 10px;
  border: none;
}

.inputData input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
}

.inputData input:focus ~ label,
.inputData input:valid ~ label{
  transform: translateY(-10px);
  font-size: 15px;
}
.wrapper input[type="email"]:focus ~ label,
.inputData input:valid ~ labe{
  transform: translateY(-13px);
}

.inputData label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: rgb(145, 145, 145);
  pointer-events: none;
  transition: all 0.4s ease;
  font-size: 13px;
}

.intp{
  background-color: transparent;
  color: #fff;
}

li{
  list-style: none;
}

