<div class="container-main">
    <h1 class="titulo">Términos y condiciones</h1>
    <div class="teminos">
        
        <p>BarberApp hace de su conocimiento que al acceder a la página web link de la pagina, usted se sujeta a los términos y condiciones de uso de la misma. Conforme a la competencia y jurisdicción de la justicia En Colombia, la ley 1581 de 2012 establece el debe de informar a los usuarios la forma en que serán tratados los datos personales que proporcionen a cualquier persona, ya sea natural o jurídica (empresas, sociedades, fundaciones, entidades, etc.). </p>

       <p>Política de moderación: BarberApp informa al usuario las normas de comportamiento que debe tener al participar en el sitio web.
 
        El Usuario no podrá distribuir, modificar, copiar, transmitir, mostrar, utilizar, reproducir, publicar, otorgar licencias, crear obras derivadas, ceder, transferir, vender o utilizar de cualquier otra forma el Contenido o el Software del Sitio sin la autorización previa, expresa y por escrito.
         
        El autor tiene toda la legitimidad para determinar qué comentarios complementan o no su post. No consideramos que la no inclusión de un comentario sea, en ningún caso, una forma de censura o de impedir la expresión personal. Los comentarios han de cumplir una “netiqueta” básica: no incluir descalificaciones, insultos o argumentos etc. Se desestimará, igualmente, aquellos comentarios sospechosos de haber sido creados sólo con fines promocionales de una web, persona o colectivo.
         
        Se debe respetar la legalidad respecto al contenido de los comentarios y enlaces, imágenes etc, que se compartan en este aplicativo web. Esto incluye el respeto a los derechos de propiedad intelectual que puedan pertenecer a terceros (como las fotografías, etc.), patentes y marcas, entre otras cosas. BaeberApp  se reserva el derecho de retirar todas las aportaciones que no cumplan con las leyes vigentes.
         
         
        El usuario tiene las facultades de eliminar, modificar, rechazar y en general controlar el contenido aportado por el mismo.
         
        BarberApp no garantiza la veracidad o actualidad de la información proporcionada a los usuarios por parte de otros usuarios. Sin embargo, se debe anotar que esto no aplica para la propaganda, ofertas o promociones, pues la información que se dé sobre productos, bienes o servicios para su adquisición por parte de los consumidores debe ser veraz y suficiente. (Las acciones a tomar por el incumplimiento de esta norma es la suspensión de los usuarios que no cumplan con ella).
        </p>
    </div>

</div>
