*{
    margin:0;
    padding:0;
}

body{
    background:linear-gradient(120deg,#2980b9,#8e44ad);
    height: 113vh;
}
.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 800px;
    margin-left: 30%;
    color: #f5f3f7f5;
    font-size: 18px;
    text-align: justify;
}


