<div class="sing-in">
  <div class="sing-in-header">
    <h1>Sing In</h1>
  </div>
  <div class="sing-in-form">
    <div class="container-age">
      <h3>Age:</h3>
      <input type="number" placeholder="Age"/><br>
    </div>
    <div class="container-age">
      <h3>Apodo:</h3>
      <input placeholder="Apodo" class="input-Apodo"/><br>
    </div>
    <br>
   <div class="container-gender">
    <h3>Gender:</h3>
    <select name="select" class="select-gender">
      <option value="value1" class="option">Masculino</option>
      <option value="value2" class="option" selected>Femenino</option>
    </select>
   </div>
    <br>
    <div class="container-home-next">
      <div class="home-sing-in"><img src="../../../assets/images/icons8-casa-64.png" alt="" class="img-home-sing-in"></div>
      <br>
      <input type="button" value="Finish" class="sing-in-next"/>
      <br>
    </div>
      <a class="sign-up">Login!</a>
    <br>
  </div>
</div>
