<div id="stories-wrapper">
    <div id="stories-container">
        <button class="story">
            <div class="porfile">
                <img src="../../assets/images/profile.jpg" alt="">
            </div>
            <div class="title">
                Santiago Ruiz
            </div>
        </button>
        <button class="story">
            <div class="porfile empty">
                <img src="../../assets/images/profile.jpg" alt="">
            </div>
            <div class="title">
                Carlos Perez
            </div>
        </button>
    </div>
</div>
