:root{
    background-color: white;
}
body{
    background-color: var(--background-color);
}

#stories-container{
    display: flex;
    background-color: #171f2a;
    -webkit-box-shadow: 0px 0px 35px 10px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 35px 10px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 35px 10px rgba(0,0,0,0.9);
    border: 2px solid rgb(0, 0, 0);
}
.story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
}
.story .porfile{
    background: linear-gradient(144deg, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100% );
    padding: 5px;
    box-sizing: border-box;
    width: 70px;
    height: 70px;border-radius: 50%;
}
.story .porfile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: solid 5px white;
}
.story.active .porfile{
    animation-name: story;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.story .porfile.empty{
    background: #ccc;
}

.title{
    font-size: 15px;
    text-align: center;
}
@keyframes story{
    0%{
        background: linear-gradient(144deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    10%{
        background: linear-gradient(180deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    20%{
        background: linear-gradient(216deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    30%{
        background: linear-gradient(252deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    40%{
        background: linear-gradient(288deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    50%{
        background: linear-gradient(324deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    60%{
        background: linear-gradient(360deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    70%{
        background: linear-gradient(396deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    80%{
        background: linear-gradient(432deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    90%{
        background: linear-gradient(468deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
    0%{
        background: linear-gradient(504deg,rgba(255,255,255) 0%,rgba(255,255,255) 25%, #ba1d18 13%, rgb(255, 255, 255) 53%, #144fcd 100%  );
    }
}