<label for="btn-notificacion">⨂</label>

<div class="notificacion">

    <div *ngFor="let petition of barbershops; let i=index">
        <h1>Mensajes de vinculacion</h1>
        <hr>
        <div class="mensaje">
            <a [routerLink]="['/stalk_barbershop',petition.id]" class="nameBarbershop">
                <div class="imagebarbershop"><img src="{{petition.photo}}" alt=""></div>
                <p>{{petition.nickname}}</p>
            </a>
            <button (click)="linkUp(petition.id)">Aceptar vinculacion</button>
        </div>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Vinculandose...</p>
    </ngx-spinner>