<h1>Barber All</h1>
<div class="container-main">
   
    <table class="table" >
      <thead >
        <tr >
          <th scope="col">id</th>
          <th scope="col">imagen</th>
          <th scope="col">nombre</th>
          <th scope="col">button</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let barberos of barbers">
          <th scope="row">{{barberos.id}}</th>
          <td class="imagen"><img src="{{barberos.photo}}" alt=""></td>
          <td class="apodo">{{barberos.nickname}}</td>
          <td><button class="btn btn-outline-secondary">Vincular</button></td>
        </tr>

      </tbody>
  </table>
</div>
