<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="padre">
        <div class="intento">
            <div class="container-card">
        
                <div class="card"  *ngFor="let n of listPublicity2">
                    <figure>
                        <img src="{{n.url}}">
                    </figure>
                    <div class="contenido-card">
                        <h3>{{n.id_barbershop.nickname}}</h3>
                        <p>{{n.description}}</p>
                        <a  (click)="delete(n.id)">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 


</body>
</html>


