<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="lista">
        <div class="card-ward">
            <article class="card" *ngFor="let n of listPublicity">
                <header class="header-card">
                    <img src="{{n.url}}" alt="">
                </header>
                <header>
                    <footer class="footer-card">
                        <div class="categoria-card">
                             <a  [routerLink]="['stalk_barbershop', n.id_barbershop]" ><span>Ver perfil</span></a>
                        </div>
                        <div class="texto-card">
                            <br>
                            <br>
                            <p>{{n.description}}</p>
                        </div>
                        <div class="perfil-card">
                            <div class="img-perfil-card">
                                <img src="{{n.url}}" alt="">
                            </div>
                            <div class="tex-perfil-card">
                                <span *ngIf="n.id_barbershop" >{{n.id_barbershop.nickname}}</span>
                                <span *ngIf="n.id_barber" >{{n.id_barber.nickname}}</span>
                            </div>
                        </div>
                    </footer>
                </header>
            </article>
        
        </div>
    </div>

   
    
</body>
</html>







