<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" *ngFor="let n of listPublicity">
        <div class="card">
            <div class="images2">
                <img src="{{n.id_barbershop.photo}}" alt="">
                <h3>{{n.id_barbershop.nickname}}</h3> 
            </div>
            <div class="contenido">
                <p>{{n.description}}</p>
                <div class="images" >
                    <img   src="{{n.url}}" alt="">
                </div>
               
            </div>

        </div>
    </div>
</body>
</html>







