<app-load-publicity></app-load-publicity>
<div class="container-main">
    <div class="header">
        <div class="imagen">
            <img src="../../../assets/images/pruebaperfil.jpg" alt="">
            <p>Andres Camilo Serna Villegas</p>
        </div>
        <div class="description">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Iure provident impedit debitis in voluptatibus iusto quam incidunt animi eligendi? <br> Voluptate nobis porro et magni laudantium sit adipisci veritatis,<br> ipsam at.</p>
            <img src="../../../assets/images/facebook.jpg" alt="">
        </div>
    </div>

    <div class="header">
        <div class="imagen">
            <img src="../../../assets/images/pruebaperfil.jpg" alt="">
            <p>Andres Camilo Serna Villegas</p>
        </div>
        <div class="description">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Iure provident impedit debitis in voluptatibus iusto quam incidunt animi eligendi? <br> Voluptate nobis porro et magni laudantium sit adipisci veritatis,<br> ipsam at.</p>
            <img src="../../../assets/images/facebook.jpg" alt="">
        </div>
    </div>
</div>
