<div class="container-main">

    <div class="header">
        <div class="component-empty"></div>
        <img src="../../../assets/images/profile.jpg" alt="">
        <div class="info-barber">
            <h1>Barberia</h1>
            <button>Reservar</button>

    <div *ngFor="let barber  of barbershop">
        <div class="header">
            <dir class="images">
                <img src="../../../assets/images/facebook.jpg" alt="">
                <h1>{{barber.nickname}}</h1>
            </dir>
           
            <button >Reservar</button>

        </div>
    </div>
   

    <hr>

    <div class="containers">

        <div class="container-left">
            <p>Ciudad: Armenia</p>
            <p>Descripción: Contamos con 4 barberos quienes les daran un muy buen servicio.</p>

        </div>



        <div class="container-rigth">
            <p>Publicaciones</p>

        <div class="container-left" *ngFor="let barber  of barbershop">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Sunt rem dolores aperiam perspiciatis ut,<br> corporis optio quis, labore minima harum exercitationem <br> iste cum reiciendis aliquid pariatur hic quisquam. <br> Dicta, similique.</p>

            <div class="nav">
                
                <p>Ciudad: {{barber. city}} </p>

            
            
                <p>Ubicacion: {{barber. location}} </p>

                <p>Numero: {{barber. cellphone}}  </p>
            </div>
    
            
        </div>


    
    
        <div class="container-medium">
            <app-to-show-publications></app-to-show-publications>
        </div>
    
        <div class="container-rinht">

            <h1>promotiones</h1>
            <app-promotion-list></app-promotion-list>

        </div>


    </div>


</div>