<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="{{barbershop.photo}}" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
            </div>
            <button type="button" class="boton-portada">
                <i class="far fa-image"></i> Cambiar fondo
            </button>
        </div>
    </div>
    <div class="perfil-usuario-body" >
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{barbershop.nickname}}</h3>
            <textarea [disabled]="editActive" [(ngModel)]="barbershop.description" class="texto"> {{barbershop.description}}</textarea>
        </div>
        <div class="perfil-usuario-footer">
            
            <ul class="lista-datos">
                <div class="inputBox">
                    <li><i class="icono1 fas fa-phone-alt"></i>Telefono:</li> 
                    <input [disabled]="editActive" type="text" [(ngModel)]="barbershop.cellphone" required >
                    
                    
                </div>
                <div class="inputBox">
                    <li><i class="icono fas fa-briefcase"></i>Tabaja en:</li> 
                    <input [disabled]="editActive" type="text" [(ngModel)]="barbershop.city" required >
                    
                </div>
                <li><i class="icono fas fa-building"></i> Cargo : Barberia</li>
            </ul>
            <ul class="lista-datos">

                <div class="inputBox">
                    <li><i class="icono fas fa-map-marker-alt"></i>Ubicacion</li> 
                    <input [disabled]="editActive" type="text" [(ngModel)]="barbershop.location" required >
                    
                    
                </div>
                <li><i class="icono fas fa-user-check"></i> Registro.</li>
            </ul>
            <div class="container">
                <button  *ngIf="editActive" type="submit"   value="Editar"(click)="editTrue()"  class="button type1">
                    Editar
                </button>
                <button *ngIf="editActive == false" type="submit"   value="Guardar"  (click)="updateBarbershop()"  class="button type1">
                    Guardar
                </button>
            </div>
           
            
   
        </div>
        <div class="redes-sociales">
            <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
            <a href="" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
            <a href="" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
        </div>
    </div>
    
</section>





