<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header"  *ngFor="let barbershops  of barbershop">
        <div class="perfil-usuario-portada ">
            <div class="perfil-usuario-avatar">
                <img src="{{ barbershops.photo}}" alt="img-avatar">
              
            </div>
        
        </div>
    </div>
    <div class="perfil-usuario-body" *ngFor="let barbershops  of barbershop">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{barbershops.nickname}}</h3>
            <p class="texto"> {{barbershops.description}}</p>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-phone-alt"></i> Telefono: {{ barbershops.cellphone}}</li>
                <li><i class="icono fas fa-briefcase"></i> Trabaja en: {{barbershops.city}}</li>
                <li><i class="icono fas fa-building"></i> Cargo : Barberia</li>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion: {{ barbershops.location}}</li>
                <li><i class="icono fas fa-user-check"></i> Registro.</li>
            </ul>
        </div>
        <div class="redes-sociales">
            <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
            <a href="" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
            <a href="" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
        </div>
    </div>
</section>

