<div>
    <div class="menu_bar">
        <a href="#" class="bt-menu">⁝</a>
        <nav>
            <ul class="links" >
                <li><a href="http://localhost:4200/homebarbershop">home</a></li>
                <li><a href="http://localhost:4200/list-barber">Gestionar Barberos</a></li>
                <li><a href="http://localhost:4200/upload-cuts">Gestionar Cuts</a></li>
                <li><a href="http://localhost:4200/">Mayas de Turnos</a></li>
                <li><a href="http://localhost:4200/manage-catalogue">Gestionar Catalogo</a></li>
                <li><a href="http://localhost:4200/promotions">Gestionar Promociones </a></li>
                <li><a href="http://localhost:4200/publicidad">Gestionar Publicaciones</a></li>
                <li><a href="http://localhost:4200/">Barberos</a></li>
                <li><a href="http://localhost:4200/">Cuts</a></li>
                <li><a href="http://localhost:4200/">Mayas de Turnos</a></li>
                <div class="login">
            
                    <button (click)="logout()" >Cerrar Sesion</button>
    
                </div>
            </ul>
        </nav>
    </div>
    <nav class="bodyPage">

        <app-ranking></app-ranking>

        <div class="medium">
              
            <app-promotion></app-promotion>
    
        </div>
    </nav>

    

</div>