<div>
    <ul class="slider">
        <li>
            <input type="radio" id="button1" name="sradio" checked>
            <label for="button1"></label>
            <img src="../../../assets/images/slider1.jpg" alt="">
        </li>
        <li>
            <input type="radio" id="button2" name="sradio">
            <label for="button2"></label><img src="../../../assets/images/slider2.jpg" alt="">
        </li>
        <li>
            <input type="radio" id="button3" name="sradio">
            <label for="button3"></label>
            <img src="../../../assets/images/slider3.jpg" alt="">
        </li>
        <li>
            <input type="radio" id="button4" name="sradio">
            <label for="button4"></label>
            <img src="../../../assets/images/slider4.jpg" alt="">
        </li>
        <li>
            <input type="radio" id="button5" name="sradio">
            <label for="button5"></label>
            <img src="../../../assets/images/slider5.jpg" alt=""
            ></li>
        <li>
            <input type="radio" id="button6" name="sradio">
            <label for="button6"></label>
            <img src="../../../assets/images/slider6.jpg" alt="">
        </li>
    </ul>
</div>
