<div class="body">

    <main>
        <section class="container about">
            <h2 class="subtitle">¿no se?</h2>
            <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nostrum deleniti rerum nobis tenetur excepturi fuga adipisci nulla culpa laboriosam vel id amet ullam, ea animi aliquid! Fuga, illo expedita.</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="../../../assets/images/facebook.jpg" class="about__icon">
                    <h3 class="about__title">CSS Layouts</h3>
                    <p class="about__paragrah">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>

                <article class="about__icons">
                    <img  src="../../../assets/images/facebook.jpg"class="about__icon">
                    <h3 class="about__title">Animaciones</h3>
                    <p class="about__paragrah">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>

                <article class="about__icons">
                    <img  src="../../../assets/images/facebook.jpg" class="about__icon">
                    <h3 class="about__title">Sass</h3>
                    <p class="about__paragrah">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>
            </div>
        </section>
    </main>
    <section class="inicio" id="inicio">
        <div class="content">
            <h1>Bienvenidos a <span>la pagina</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium aliquid vitae debitis quae dolore asperiores. Aut deserunt corrupti nam, rem, animi ratione officia vitae beatae sed recusandae sapiente adipisci fuga.</p>
            <a href="/login" class="button">DETALLES</a>
        </div>
        <div class="image">
            <img src="../../../assets/images/homel.png" alt="">
        </div>
    </section>

    <section class="price container">
        <h2 class="subtitle">Obten el plan perfecto </h2>

        <div class="price__table">
            <div class="price__element">
                <p class="price__name">Flexbox</p>
                <h3 class="price__price">Free</h3>

                <div class="price__items">
                    <p class="price__features">Flexbox</p>
                    <p class="price__features">Layouts</p>
                    <p class="price__features">Responsive</p>
                </div>

                <a href="#" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element price__element--best">
                <p class="price__name">Grid</p>
                <h3 class="price__price">$30/mes</h3>

                <div class="price__items">
                    <p class="price__features">Grid</p>
                    <p class="price__features">Implicit Grid</p>
                    <p class="price__features">Responsive</p>
                </div>

                <a href="#" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element">
                <p class="price__name">Animaciones</p>
                <h3 class="price__price">$40/mes</h3>

                <div class="price__items">
                    <p class="price__features">Animation</p>
                    <p class="price__features">Transition</p>
                    <p class="price__features">Render Website</p>
                </div>

                <a href="#" class="price__cta">Empieza ahora</a>
            </div>


        </div>
    </section>

    <div class="franja">

    </div>

    <footer>

        <div class="container__footer">
            <div class="box__footer">
        
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque laudantium, nam deleniti sapiente deserunt.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Soluciones</h2>
                <a href="https://www.google.com">App Desarrollo</a>
                <a href="#">App Marketing</a>
                <a href="#">IOS Desarrollo</a>
                <a href="#">Android Desarrollo</a>
            </div>

            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="#">Acerca de</a>
                <a href="#">Trabajos</a>
                <a href="#">Procesos</a>
                <a href="#">Servicios</a>              
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2022 <b>BarberApp</b></p>
        </div>
    </footer>




   
</div>





