<div class="body">

    <main>
        <section class="container about">
            <h2 class="subtitle">Redes</h2>
            <p class="about__paragraph">“Nuestro trabajo es conectar con la gente, interactuar con ellas de una forma que les deje mejor que las encontramos, más capaces de llegar a donde quieren ir” Seth Godin. <br>Te invitamos a que revises nuestras redes para tener mas informacion del aplicativo</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="../../../assets/images/facebook.png" class="about__icon">
                    <h3 class="about__title">Facebook</h3>
                    <p class="about__paragrah">“La mejor publicidad es la que hacen los clientes satisfechos”</p>
                </article>

                <article class="about__icons">
                    <img  src="../../../assets/images/instagramColor.png"class="about__icon">
                    <h3 class="about__title">Instagram</h3>
                    <p class="about__paragrah">“Convierte al cliente en el héroe de tu historia”</p>
                </article>

                <article class="about__icons">
                    <img  src="../../../assets/images/twitter.png" class="about__icon">
                    <h3 class="about__title">Twitter</h3>
                    <p class="about__paragrah">“Dales calidad. Es el mejor tipo de publicidad”</p>
                </article>
            </div>
        </section>
    </main>
    <section class="inicio" id="inicio">
        <div class="content">
            <h1>Bienvenidos a <span>BARBERAPP</span></h1>
            <p>¡Gracias por visitarnos! <br> Nos alegramos de que estés aquí..  Somos BarberApp y te damos la Bienvenida a esta pagina donde podras encontrar informacion sobre algunos barberos y barberias. Nuestro objetivo es que puedas estas conforme con la aplicacion y te puedas interactuar facilmente con ella, asi que si ya estas listo te invitamos a que te registres y empieces a distrutar de una nueva expereiencia que da el aplicativo. </p>
            <a href="/login" class="button">EMPEZAR</a>
        </div>
        <div class="image">
            <img src="../../../assets/images/homel.png" alt="">
        </div>
    </section>

    <section class="price container">
        <h2 class="subtitle">Obten el plan perfecto </h2>

        <div class="price__table">
            <div class="price__element">
                <h3 class="price__price">Gratis</h3>

                <div class="price__items">
                    <p class="price__name">PARA BARBEROS</p>
                    <p class="price__features">✅ Vinculacion a una barberia</p>
                    <p class="price__features">❌ Gestinar su propio horario</p>
                    <p class="price__features"></p>
                </div>
                <hr>
                <div class="price__items">
                    <p class="price__name">PARA BARBERIAS</p>
                    <p class="price__features">✅ 4 Barberos vinculados</p>
                    <p class="price__features">✅ Limite de 8 cartas de catalogo</p>
                </div>

                <a href="#" class="price__cta free">Empieza ahora</a>
            </div>


            <div class="price__element price__element--best">
                <h3 class="price__price">$30.000/mes</h3>

                <div class="price__items">
                    <p class="price__name">PARA BARBEROS</p>
                    <p class="price__features">✅ Vinculacion a multiples barberias</p>
                    <p class="price__features">✅ Gestinar su propio horario</p>
                </div>
                <hr>
                <div class="price__items">
                    <p class="price__name">PARA BARBERIAS</p>
                    <p class="price__features">✅ Limite de 10 barberos</p>
                    <p class="price__features">✅ Limite de 20 cartas de catalogo</p>
                </div>

                <a href="#" class="price__cta mes">Empieza ahora</a>
            </div>


            <div class="price__element">
                <h3 class="price__price">$300.000/año</h3>

                <div class="price__items">
                    <p class="price__name">PARA BARBEROS</p>
                    <p class="price__features">✅ Vinculacion a multiples barberias</p>
                    <p class="price__features">✅ Gestinar su propio horario</p>
                </div>
                <hr>
                <div class="price__items">
                    <p class="price__name">PARA BARBERIAS</p>
                    <p class="price__features">✅ Limite de 100 barberos vinculados</p>
                    <p class="price__features">✅ Limite de 200 cartas de catalogo</p>
                </div>

                <a href="#" class="price__cta año">Empieza ahora</a>
            </div>


        </div>
    </section>

    <div class="franja">

    </div>

    <footer>

        <div class="container__footer">
            <div class="box__footer">
        
                <div class="terms">
                    <p>El término diseño se ha utilizado para describir el trabajo de diseño de software y hardware, a menudo asociado con la industria informática. Por otro lado, el desarrollo de un sitio web está relacionado con el trabajo de crear una aplicación. Esto significa jugar con las palabras para representar palabras que se pueden representar o similares.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Stacks de Desarrolo</h2>
                <a href="https://es.wikipedia.org/wiki/HTML" target="_blank">HTML</a>
                <a href="https://es.wikipedia.org/wiki/CSS  " target="_blank">CSS</a>
                <a href="https://getbootstrap.com/" target="_blank">Boostrap</a>
                <a href="https://code.visualstudio.com/" target="_blank">Visual Studio</a>
            </div>


            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.instagram.com/sxntxxgx_rxxz/" target="_blank"><img src="../../../assets/images/instagram.png" class="ig"> Instagram</a>
                <a href="https://www.facebook.com/profile.php?id=100008450169272" target="_blank"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://twitter.com/Elsanti21rh?s=09" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox/FMfcgzGqQSTcnKhndSWwzXPvwBxBtChV?compose=GTvVlcSHxjQDzLGBmFjdGZMfbmkMHjhDVVfrXskPGXcTXXDJnrGztwwPKHXZXCWMbZLVdqsNdGwpp" target="_blank"><img src="../../../assets/images/correo-electronico.png" class="correo">Gmail</a>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2022 <b>BarberApp</b></p>
        </div>
    </footer>




   
</div>





