<section class="inicio" id="inicio">
     <div class="content">
         <h1>Bienvenidos a <span>BarberApp</span></h1>
         <p>Una Herramienta que te ayudara a crear oportunidades de generar un estatus entre la competencia, brindándote la capacidad de solucionar la acumulación de citas, los largos tiempos de espera etc. "BarberApp" por qué las oportunidades no pasan, las Creas</p>
         <a href="/login" class="button">EMPEZAR</a>
     </div>
     <div class="image">
         <img src="../../../assets/images/homel.png" alt="">
     </div>
 </section>




