<div>

  <div class="header-calendar" >

    <div>
      <button (click)="changeMonth(-1)" class="btn-prev" >Antes</button>
    </div>

    <h2> {{dateSelect | date: 'MMMM, yyyy' }} </h2>


    <div>
      <button (click)="changeMonth(1)" class="btn-next" >Siguiente</button>
    </div>


  </div>




  <ol>

    <li  *ngFor="let day of week; let i=index" >{{day | slice: 0:3 }} </li>

    <li (click)="clickDay(day)" [style.gridColumnStart]=" first ? day ?.indexWeek : 'auto' "
      *ngFor="let day of monthSelect;let first = first">
      <span>  {{day?.value}}</span>
    </li>

    

  </ol>


  {{date}}


</div>





<div *ngFor="let h of hours; let i=index">
  <button *ngIf="h.minutes != 0" (click)="captureTime(i)">{{h.hour}} : {{h.minutes}}</button> 
  <button *ngIf="h.minutes == 0" (click)="captureTime(i)">{{h.hour}} : {{h.minutes}}0</button> 
</div>



<div *ngFor="let barber of barbers">
  <div (click)="selectBarber(barber.id)">
      <div><img src="{{barber.photo}}" alt=""></div>
      <p>{{barber.nickname}}</p>
  </div>

</div>