<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="button">
                <a>Reserva</a>
            </div>
            <h3 class="titulo">{{barber.nickname}}</h3>
            <div class="perfil-usuario-avatar">
                
                <img src="{{barber.photo}}" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
            </div>
            <button type="button" class="boton-portada">
                <i class="far fa-image"></i> Cambiar fondo
            </button>
           
        </div>
    </div>
    <div class="perfil-usuario-body" >
        <div class="perfil-usuario-bio">
            <p class="texto"> descripcion {{barber.description}}</p>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-phone-alt"></i> Telefono: {{barber.cellphone}}</li>
                <li><i class="icono fas fa-building"></i> Cargo : Barbero</li>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion: {{barber.city}} </li>
                <li><i class="icono fas fa-user-check"></i> Registro.</li>
            </ul>
        </div>
    
    </div>
</section>

<div class="publication">
    <app-publication-barber></app-publication-barber>
</div>

