*{
    margin: 0;
    padding: 0;
}
.eslogan{
    background-color: rgba(243, 124, 39, 0.74);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eslogan p{
    text-align: center;
}
.cuerpo{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
}
.slider{
    width: 100%;
    height: 300px;
    
}
.banner{
    width: 1350px;
    height: 364px;
}
.medio{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.promociones{
    background-color: brown;
    margin-top: 222px;
}
.publicidad{
    background-color: rgb(255, 0, 149);
    margin-top: 222px;
}