<form >

    <h3>Completar el registro del la Barberia</h3>

    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="text" name="location" autocomplete="off" required [(ngModel)] = "barbershop.location" #location="ngModel">  
        <div class="line" ></div>
        <label for="location">Dirección de la barberia</label>
      </div>
    </div>
    <div class="wrapper" >
        <div class="inputData" >
          <input class="intp" type="file" name="photo" autocomplete="off" required [(ngModel)] = "barbershop.photo" #photo="ngModel">  
          <div class="line" ></div>
          <label for="photo">Foto de perfil</label>
        </div>
      </div>
      <div class="wrapper" >
        <div class="inputData" >
          <input class="intp" type="text" name="description" autocomplete="off" required [(ngModel)] = "barbershop.description" #description="ngModel">  
          <div class="line" ></div>
          <label for="photo">Describe tu Barberia</label>
        </div>
      </div>
      <button>Commpletar Registro</button>
  </form>
