<form >

    <h3>Complete el registro del la Barberia</h3>

    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="text" name="location" autocomplete="off" required   [(ngModel)] = "barbershop.location"     >  
        <div class="line" ></div>
        <label for="location">Dirección de la barberia</label>
      </div>
    </div>
    <div class="wrapper" >
        <div class="inputData" >
          <input class="intp" type="file" name="photo" autocomplete="off" required accept="image/gif, image/jpeg, image/jpg, image/png," (change)="onFileChange($event)">  
          <div class="line" ></div>
          <label for="photo">Foto de perfil</label>
        </div>
      </div>
      <div *ngIf="imagen" class="mt-5">
        <h5>Vista Previa:</h5>
        <div>
            <li><img class="image-thumbnail" style="max-width: 200px" [src]="imagenMin"></li>
        </div>
    </div>
      <div class="wrapper" >
        <div class="inputData" >
          <input class="intp" type="text" name="description" autocomplete="off" required [(ngModel)] = "barbershop.description">  
          <div class="line" ></div>
          <label for="description">Describe tu Barberia</label>
        </div>
      </div>
      <button>Commpletar Registro</button>
  </form>
