<div>

    <nav class="table">
    
        <h3>Citas</h3>

        <ul class="lista" >
            <li><div class="complete" ><a href="" >Name Barber</a><a href="" >Name Customer</a></div></li>
            <li><div class="complete" ><a href="" >Name Barber</a><a href="" >Name Customer</a></div></li>
            <li><div class="progres" ><a href="" >Name Barber</a><a href="" >Name Customer</a></div></li>
            <li><div class="progres" ><a href="" >Name Barber</a><a href="" >Name Customer</a></div></li>
            <li><div class="pending" ><a href="" >Name Barber</a><a href="" >Name Customer</a></div></li>
            <li><div class="pending" ><a href="" >Name Barber</a><a href="" >Name Customer</a></div></li>
        </ul>
    </nav>
</div>