<div class="container-main">
    <div class="header">
        <div class="component-empty"></div>
        <img src="../../../assets/images/profile.jpg" alt="">
        <div class="info-barber">
            <h1>Client</h1>
        </div>
    </div>

    <hr>

    <div class="containers">
        <div class="container-left">
            <p>Edad: 17 años</p>
            <p>Ciudad: Filandia</p>
            <p>Descripción: nada.</p>

        </div>



        <div class="container-rigth">
            <p>Publicaciones</p>
        </div>


    </div>


</div>