<app-header-barbershop></app-header-barbershop>

<div class="container-father">
    <div class="container-header">
        <h1>Gestion Cuts</h1>
        <div class="container-title">
            <h2> Tus Cuts</h2>
            <button>Cear Cuts</button>
        </div>
        <div class="contaienr-cuts">
            <img src="../../../assets/images/imagenes-vida.jpg" alt="">
            <p>Description the cuts</p>
            <ul class="nav">
                <li ><p>⁝</p>
                    <ul>
                        <li><a href="">Eliminar Cuts</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="contaienr-cuts">
            <img src="../../../assets/images/imagenes-vida.jpg" alt="">
            <p>Description the cuts</p>
            <p>⁝</p>
        </div>
    </div>

    <div class="container-publicidad">
        <P>No se que prodria ir aqui</P>
    </div>
   
</div>
