*{
    margin: 0%;
    padding: 0%;
}

.container-portada{
    width: 100%;
    height: 400px;
    background-image: url(../../../assets/images/slider1.jpg);
    background-size: 200%;
    animation: movimiento 10s infinite linear alternate;
    position: relative;
}

@keyframes movimiento {
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left,black,#0672d0);
    opacity: 0.5;
}

.container-deails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38vh;
   
}

.dealis{
    text-align: center;
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    color: white;
}

/* .page{

    display: flex;
    flex-direction: column;
}


.bodyPage{
    display: flex;
    flex-direction: row;
}

.medium{
    margin:0 70px 0 25px ;
    max-height: 750px;
    color: #e4e4e4;
    overflow-y: scroll;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    width: 1350px;
    align-items: center;
}

.medium::-webkit-scrollbar {
    width: 20px;
}
  
.medium::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.medium::-webkit-scrollbar-thumb{
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
}






.butt{
    color: orangered;
    position: absolute;
    top: 57px;
    right: 74px;
    font-size: 35px;
}
body, .notificacion{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: left;
	align-items: flex-start;
}
.notificacion{
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    width: 700px;
    background-color: #d3d3d38c;;
    border: 1px solid black;
    border-radius: 11px;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 30%;
    padding: 20px;
    box-shadow: 0px 0px 20px 1px black;
}
#btn-notificacion:checked ~ .notificacion{
	opacity: 1;
	visibility: visible;
} 

#btn-notificacion:checked ~ .notificacion {
	transform: translateY(0%);
} 


#btn-notificacion{
	display: none;
}


.lbl-notificacion{
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
.lbl-notificacion img {
    position: absolute;
    width: 30px;
    top: 60px;
    right: 70px;
} */