<div class="container-main">
    <div class="header">
        <div class="component-empty"></div>
        <img src="../../../assets/images/profile.jpg" alt="">
        <div class="info-barber">
            <h1>Barbero</h1>
            <button>Reservar</button>
        </div>
    </div>

    <hr>

    <div class="containers">
        <div class="container-left">
            <p>Edad: 23 años</p>
            <p>Ciudad: Armenia</p>
            <p>Trabajo: Barbershop</p>
            <p>Descripción: Llevo mas de 2 años trabajando como barbero.</p>

        </div>



        <div class="container-rigth">
            <p>Publicaciones</p>
        </div>


    </div>


</div>