<div class="container-main">
    <div class="header">
        <dir class="images">
            <img src="../../../assets/images/profile.jpg" alt="">
            <h1>Barber</h1>
        </dir>
       
        <button >Reservar</button>
    </div>

    <hr>

    <div class="containers">
        <div class="container-left">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Sunt rem dolores aperiam perspiciatis ut,<br> corporis optio quis, labore minima harum exercitationem <br> iste cum reiciendis aliquid pariatur hic quisquam. <br> Dicta, similique.</p>
    
            <p>Ciudad: Armenia</p>

            <p>Trabajo: Barbershop</p>
            
        </div>

    
    
        <div class="container-rigth">
            <h2>holi</h2>
        </div>
    
        
    </div>

  
</div>