<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-portada">
        <div class="capa"></div>
        <div class="container-deails">
            <div class="dealis">
                <h1>Bienvenido Barberia {{usuario.nickname}}</h1>
            </div>
        </div>
    </div>

    
  
    <div class="medium">

        <app-to-show-publications></app-to-show-publications> 

    </div>

    <div class="right">

        <app-ranking></app-ranking>
        
    </div>
    
</body>
</html>
