*{
    margin: 0%;
    padding: 0%;
}

.page{

    display: flex;
    flex-direction: column;
}

.bodyPage{
    display: flex;
    flex-direction: row;
}

.medium{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}