*{
    margin: 0%;
    padding: 0%;
}

.page{

    display: flex;
    flex-direction: column;
}

.page::-webkit-scrollbar {
	width: 15px;
	background-color: #ff0000;
}

.page::-webkit-scrollbar-thumb {
	background-color: #000000;
    border-radius: 30px;
}

.bodyPage{
    display: flex;

}

.medium{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 18%;
    height: 703px;
}