<div class="container" >

<ejs-schedule   class="calendar" [eventSettings]="eventSettings" height="900px%"> </ejs-schedule>


  <nav>
    <table>
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Cliente</th>
  
        </tr>
      </thead>
      <tbody>
  
        <tr *ngFor="let date of bookingsBarbershop">
          <th scope="row">{{date.customer.nickname}}</th>
          <td><button class="btn btn-outline-primary">Editar</button></td>
          <td><button class="btn btn-outline-primary">Eliminar</button></td>
        </tr>
  
      </tbody>
    </table>

  </nav>
  


</div>