<div class="container" >

<ejs-schedule startHour='09:00' endHour='20:00' class="calendar"  [eventSettings]="eventSettings" height="900px%"> </ejs-schedule>
      <nav>
      <table class="containerDatos">
        <thead>
          <tr *ngFor="let date of bookingsBarber" class="DatosCliente">
            <th scope="col">ID:</th><th scope="row">{{date.id}}</th>
            <th scope="col">Fecha:</th><th scope="row">{{date.reservationDate}}</th>
            <th scope="col">Cliente:</th><th scope="row">{{date.customer.nickname}}</th>
            <td><button  (click)="completeBooking(date)" class="btnCompletado">Completado</button></td>
            <td><button (click)="cancelBooking(date)"  class="btnCancelar">Cancelar</button></td>
        </thead>
        <tbody>
   
          <tr *ngFor="let date of bookingsBarberComplete" class="botones">
            <br><br><br>
          </tr>
          
    
        </tbody>
      </table>
  
    </nav>
  
