<div class="login">

  <form class="login-form">    


      <h3>Iniciar sesion</h3>


  <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="text" name="email" autocomplete="off" required>
        <div class="line" ></div>
        <label for="email">Correo</label>
      </div>
    </div>

    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="password" name="constraseña" autocomplete="off" required>
        <div class="line" ></div>
        <label for="constraseña">Contraseña</label>
      </div>
    </div>

    <div class="btn-type">
      <label for=""><input value="3" type="radio" name="type"/>Cliente</label>
      <label for=""><input value="2" type="radio" name="type"/>Barbero</label>
      <label for=""><input value="1" type="radio" name="type"/>Barberia</label>
    </div>
    
    <input type="button" value="Login" class="login-button"/>
    <br>
    <a  href="singup" class="sign-up">Registrarse!</a>
    <br>
    <h6 class="no-access">¿No puedes acceder a tu cuenta?</h6>
  </form>
</div>
<div class="error-page">
  <div class="try-again">Error: Try again?</div>
</div>