*{
    padding: 0;
    margin: 0;

}
body{
    background:linear-gradient(120deg,#2980b9,#8e44ad);
    height: 100vh;
}
.center{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 40px 0 44px;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 27px 10px;
    box-sizing: border-box;
}

form  .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 15px;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}


.txt_field span::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2691d9;
    transition: .5s;

}

.txt_field input:focus  ~ label,
.txt_field input:valid  ~ label{

    top: -5px;
    color: #2691d9;

}
.txt_field input:focus  ~ span::before,
.txt_field input:valid  ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 75%;
    height: 46px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9fafb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 0 41px;
}

input[type="submit"]:hover{
    border-color:#2691d9 ;
    transition: .5s;
}
.signup_link{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color: #666666;

}

.signup_link a{
    color: #2691d9 ;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}


.link_devolver{
    display: flex;
    justify-content: center;
}
.link_devolver a{
    text-decoration: none;
    color: #2691d9 ;

}
.link_devolver a:hover{
    text-decoration: underline;
}



/*Media Query*/
@media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
        text-align:center;
        margin:0;
    }
    .sign-up, .no-access {
        margin:10px 0;
    }
    .login-button {
        margin-bottom:10px;
    }
}