<div class="login">

  <form method="post " class="login-form">    

  <h3>Iniciar sesion</h3>


  <div class="wrapper">
      <div class="inputData">
        <input class="intp" type="text" name="email" autocomplete="off" autofocus required [(ngModel)]="usuario.username" #email="ngModel"  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" >
        <div class="line" ></div>
        <label for="email">Correo</label>
      </div>
      <div class="requerido" *ngIf="email.invalid && (email.dirty) || email.touched">
        <div *ngIf="email.hasError('required')">
              el email es requerido
        </div>
        <div *ngIf="email.hasError('pattern')">
            lo que ingreso no se identifica como Correo
        </div>
      </div>
    </div>

    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="password" name="constraseña" autocomplete="off" required  [(ngModel)]="usuario.password"  #password="ngModel" >
        <div class="line" ></div>
        <label for="constraseña">Contraseña</label>
      </div>
      <div class="requerido" *ngIf="password.invalid && (password.dirty) || password.touched">
        <div *ngIf="password.hasError('required')">
            la Contraseña es requerida
        </div>
      </div>
    </div>

    <input (click)="login()" type="submit"  value="Login" class="login-button"/>
    <br>
    <a  href="singup" class="sign-up">Registrarse!</a>
    <br>
    <h6 class="no-access">¿No puedes acceder a tu cuenta?</h6>
  </form>

</div>