<div class="header">
    <h1>Barbershop</h1>
    <div class="input">
        <input   type="search" id="search" placeholder="Buscar">
    </div>
</div>
 

<div class="contenedor-main">
   
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/LogoBarberApp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">BarberAppl</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="form-group d-flex justify-content-center my-3">
            <a href="#" class="btn btn-primary">Ver Perfil</a>
        </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/LogoBarberApp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">BarberAppl</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="form-group d-flex justify-content-center my-3">
            <a href="#" class="btn btn-primary">Ver Perfil</a>
        </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/LogoBarberApp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">BarberAppl</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="form-group d-flex justify-content-center my-3">
            <a href="#" class="btn btn-primary">Ver Perfil</a>
        </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/LogoBarberApp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">BarberAppl</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="form-group d-flex justify-content-center my-3">
            <a href="#" class="btn btn-primary">Ver Perfil</a>
        </div>
       
        </div>
    </div>
    
</div>    
  
