<div class="header">
    <h1>Barbershop</h1>
    <div class="input">
        <input   type="search" id="search" placeholder="Buscar">
    </div>
</div>
 

<div class="contenedor-main">

    <div class="card" *ngFor="let barber  of barbershop">
        
    <div class="card" style="width: 18rem;">
        <img src="{{barber.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{barber.nickname}}</h5>
        <p class="card-text">{{barber.description}}</p>
        <div class="form-group d-flex justify-content-center my-3">
            <a href="#" class="btn btn-primary">Ver Perfil</a>
        </div>
        </div>
    </div>
    </div>  
</div>  


  
