header{
    background-color: #171f2a;
    -webkit-box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.52);
    box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.52);
    margin-bottom: 40px;
}
.divheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divlogo{
    width: 100px;
    margin: 20px;
}
.divlogo:hover{
    transform: scale(1.2);
}
.logo{
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 50px;
    -webkit-box-shadow: 3px 4px 14px 3px rgba(0,0,0,0.66); 
    box-shadow: 3px 4px 14px 3px rgba(0,0,0,0.66);
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-right: 50px;
}
.div-sing-in-login{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
.div-sing-in-login a{
    text-decoration: none; 
    border-radius: 30px;
    border: 1px;
    -webkit-box-shadow: 3px 4px 14px 3px rgba(0,0,0,0.66); 
    box-shadow: 3px 4px 14px 3px rgb(0 0 0 / 66%);
    
}
.div-sing-in-login a:hover{
    transform: scale(1.1);
    color: #3c88c4;
}
.log{
    width: 30px;
    margin-right: 3px;
}
.divbusqueda{
    display: flex;
    gap: 12px;
}
.divbusqueda input{
    border-radius: 100px;
    width: 230px;
    height: 33px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(153, 150, 150, 0.301);
    box-shadow: 3px 4px 14px 3px rgb(0 0 0 / 66%);
    border: 1px;
    background-color: rgba(153, 150, 150, 0.301);
    box-shadow: 3px 4px 14px 3px rgb(0 0 0 / 66%);
    color: white;
}
.divbusqueda button{
    box-shadow: 3px 4px 14px 3px rgb(0 0 0 / 66%);
    border-radius: 100px;
    width: 75px;
    background-color: #3c88c4;
    color: white;
    border: 1px;
    -webkit-box-shadow: 3px 4px 14px 3px rgba(0,0,0,0.66); 
    box-shadow: 3px 4px 14px 3px rgba(0,0,0,0.66);
}
.divbusqueda input:hover{
    transform: scale(1.1);
    
}
.divbusqueda button:hover{
    transform: scale(1.1);
}
.btn{
    border-radius: 2px;
    color: white;
}
.btn:hover{color:#3c88c4;}
