<header>
    <div class="divheader">
        <div class="divlogo"><a href=""><img src="../../../assets/images/logoBarberApp.png" alt="" class="logo"></a></div>
        <div class="botones">
            <div class="div-sing-in-login">
                <a href="http://localhost:4200/login"><button class="btn"><img src="../../../assets/images/usuario.png" alt="login" class="log">Iniciar sesión</button></a>
                <a href="http://localhost:4200/singup"><button class="btn"><img src="../../../assets/images/agregar-simbolo-de-usuario.png" alt="sing in" class="log">Registrarse</button></a>
            </div>
            <div class="divbusqueda">
                <input type="text" name="search" id="search" placeholder="Barberos, Barberias, Etc..">
                <button type="search" class="btnbusqueda">Buscar</button>
            </div>
        </div>
    </div>
</header>