<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Vinculandose...</p>
</ngx-spinner>

<div>
    <h1>Citas</h1>
    <div class="mensaje" *ngFor="let bookings of BookingsIncomplete; let i =index">
        <div><p>codigo: {{bookings.id}}</p></div>
        <a  class="barbersho" *ngFor="let barber of barbershops">
            <p>Barberia: {{barber.nickname}}</p>
            <div class=""><img src="{{barber.photo}}" alt=""></div>
            <p></p>
        </a>
        <a  class="barber">
            <p>barbero: {{bookings.barber.nickname}}</p>
            <div class=""><img src="{{bookings.barber.photo}}" alt=""></div>
            <p></p>
        </a>
        <div>
            <p>Hora: {{bookings.reservationDate}}</p>
        </div>
        <button (click)="Cancel(bookings.id)">Cancelar reserva</button>
    </div>
    
    <h1>Historial de citas</h1>
    <div class="mensaje" *ngFor="let bookings of Bookingscomplete; let i =index">
        <div><p>codigo: {{bookings.id}}</p></div>
        <a  class="barbersho" *ngFor="let barbershop of barbershopsComplete2">
            <p>Barberia: {{barbershop.nickname}}</p>
            <div class=""><img src="{{barbershop.photo}}" alt=""></div>
            <p></p>
        </a>
        <a  class="barber">
            <p>barbero: {{bookings.barber.nickname}}</p>
            <div class=""><img src="{{bookings.barber.photo}}" alt=""></div>
            <p></p>
        </a>
        <div>
            <p>Hora: {{bookings.reservationDate}}</p>
        </div>

        <div class="qualification">
            <div>
                <label for="">Califica el barbero</label>
                <input type="number" name="" id="" min="1" max="5">
            </div>
            <div>
                <label for="">Califica la barberia</label>
                <input type="number" name="" id="" min="1" max="5">
            </div>
            <button>Aceptar</button>
        </div>
    </div>

    <!-- <h1>Citas</h1>
    <div class="mensaje" *ngFor="let bookings of BookingsIncomplete; let i =index">
        <div><p>codigo: {{bookings.id}}</p></div>
        <a  class="barbersho" *ngFor="let barber of barbershops">
            <p>Barberia: {{barber.nickname}}</p>
            <div class=""><img src="{{barber.photo}}" alt=""></div>
            <p></p>
        </a>
        <a  class="barber">
            <p>barbero: {{bookings.barber.nickname}}</p>
            <div class=""><img src="{{bookings.barber.photo}}" alt=""></div>
            <p></p>
        </a>
        <div>
            <p>Hora: {{bookings.reservationDate}}</p>
        </div>
        <button (click)="Cancel(bookings.id)">Cancelar reserva</button>
    </div> -->
</div>

