.components{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

app-ranking{
    width: 100%;
    margin-left: 70px;
    margin-right: 110px;
    min-width: 700px;
    max-width: 700px;
}

.containerCitasProgramadas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 200px;
}

p{
    font-size: 18px;
    color: white;
    text-shadow: -1px 1px 0px #ff5900;
}

.imgBarberia{
    width: 200px;
    border: 5px solid white;
}
.imgBarbero{
    width: 150px;
    border: 5px solid white;
    border-radius: 50%;
}

.mensajeCitas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 1010px;
    background-image: linear-gradient(120deg,#5cbeff,#8e44ad);
    border-radius: 10px;
}
.mensajeHistorial
.barbershops{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 1010px;
    border-radius: 10px;
    box-shadow:  0px 0px 20px 0px black;
    background-image: linear-gradient(90deg, rgba(24,177,3,1) 0%, rgba(3,200,35,1) 28%, rgba(9,224,4,1) 53%, rgba(1,237,83,1) 81%, rgba(68,252,50,1) 100%);
}
.barbershops label{
    font-size: 18px;
    color: white;
    text-shadow: -1px 1px 0px #ff5900;   
}
.barbershops input{
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #9aff007d;
    box-shadow: inset 0px 0px 20px 2px #085708;  
    color: white;
}
.barbershops button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 17px;
    background-color: darkgreen;
    box-shadow: 0 0 20px 0px #15740f;
    color: white;
    transition: all 1s;
    text-shadow: -1px 1px 0px #ff5900;   
}
.barbershops button:hover{
    background-color: white;
    box-shadow: -1px 1px 0 0 #ff5900;
    color: darkgreen;
    text-shadow: none;   
}


.mensajeCanceladas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 1010px;
    border-radius: 10px;
    box-shadow:  0px 0px 20px 0px black;
    background-image: linear-gradient(90deg, rgba(217,6,6,1) 0%, rgba(200,3,33,1) 28%, rgba(224,4,4,1) 53%, rgba(255,0,0,1) 81%, rgba(252,50,50,1) 100%);
}
.mensajeCanceladas p{
    text-shadow: -1px 1px 0px #000000;
}
.mensajeCanceladas .motivo{
    width: 210px;
}
.mensajeCanceladas button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 17px;
    background-color: #77111f;
    color: white;
    text-shadow: -1px 1px 0px #ff5900;
    box-shadow: 0 0 14px 0 #5e0510;
    transition: all 0.5s;
}
.mensajeCanceladas button:hover{
    background-color: #ffffff;
    box-shadow: -1px 1px 0 0 #ff5900;
    color: #77111f;
    text-shadow: none;
}


.mensajeCitas button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 17px;
    background-color: #371f4e;
    color: white;
    text-shadow: -1px 1px 0px #ff5900;
    box-shadow: 0 0 14px 0 #411872;
    transition: all 0.4s;
    
}
.mensajeCitas button:hover{
    background-color: #ffffff;
    box-shadow: -1px 1px 0 0 #ff5900;
    color: #371f4e;
    text-shadow: none;
}

body, .aplicacion{
	width: 100%;
	height: 100vh;
}
.aplicacion{
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    background-color: #3e3e3f;
    color: rgb(255, 255, 255);
    border-radius: 11px;
    height: 400px;
    position: absolute;
    top: 6%;
    left: 81%;
    height: 200px;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 20px 20px 1px black;
}
#btn-aplicacion:checked ~ .aplicacion{
	opacity: 1;
    
	visibility: visible;
} 

#btn-aplicacion:checked ~ .aplicacion {
	transform: translateY(0%);
} 


#btn-aplicacion{
	display: none;
}

.cerrar{
    float: right;
    font-size: 25px;
    cursor: pointer;
}


.lbl-aplicacion{
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
.lbl-aplicacion img {
    position: absolute;
    width: 30px;
    top: 60px;
    right: 70px;
}


body, .historial{
	width: 100%;
	height: 100vh;
}
.historial{
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    background-color: #3e3e3f;  
    color: rgb(255, 255, 255);
    border-radius: 11px;
    height: 400px;
    position: absolute;
    top: 21%;
    left: -394%;
    width: 1200px;
    padding: 20px;
    box-shadow: -14px 8px 20px 1px black;
}
#btn-historial:checked ~ .historial{
	opacity: 1;
    
	visibility: visible;
} 

#btn-historial:checked ~ .historial {
	transform: translateY(0%);
} 


#btn-historial{
	display: none;
}


.lbl-historial{
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
.lbl-historial:hover{
    background: linear-gradient(120deg, #297fb946, #8d44ad5e);
    border-left: 6px solid #089cff;
    transition: 0.2s;
}
.lbl-historial img {
    position: absolute;
    width: 30px;
    top: 60px;
    right: 70px;
}


body, .canceladas{
	width: 100%;
	height: 100vh;
}
.canceladas{
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
    background-color: #3e3e3f;
    color: rgb(255, 255, 255);
    border-radius: 11px;
    height: 400px;
    position: absolute;
    top: 63%;
    left: -394%;
    width: 1200px;
    padding: 20px;
    box-shadow: -14px 8px 20px 1px black;
}
#btn-canceladas:checked ~ .canceladas{
	opacity: 1;
    
	visibility: visible;
} 

#btn-canceladas:checked ~ .canceladas {
	transform: translateY(0%);
} 


#btn-canceladas{
	display: none;
}


.lbl-canceladas{
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
}
.lbl-canceladas:hover{
    background: linear-gradient(120deg, #297fb946, #8d44ad5e);
    border-left: 6px solid #089cff;
    transition: 0.2s;
}
.lbl-canceladas img {
    position: absolute;
    width: 30px;
    top: 60px;
    right: 70px;
}