<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="section">
    <nav class="ranking">
    
        <h3>Ranking</h3>

        <ul class="lista" *ngFor="let barber of rankingBarber; let i=index">
            <li><div class="elemento" ><span>{{i+1}}</span><img src="{{barber.photo}}" alt=""> <a [routerLink]="['/stalk_barber/',barber.id]">{{barber.nickname}}</a><nav class="starts">{{barber.qualification}}</nav> </div></li>
        </ul>
    </nav>

  </div>

</body>
</html>






