*{
    margin: 0%;
    padding: 0%;
}


.ranking{

    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 1px 9px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 1px 9px -1px rgba(0,0,0,0.52);
    box-shadow: 4px 1px 9px -1px rgba(0,0,0,0.52);
	border: 1px solid black;
	width: 32%;
    height: 50vh;
    margin: 35% 5%;
}

h3{
    margin: 20px;
}

.lista{

    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style:none;
	width: 92%;
    margin: 11px 0;
	
}

.lista  img{

	width: 33px;
    height: 38px;
    margin-left: 5px;
    border-radius: 50px;
}

.lista li{

    border-radius: 10px;
	border: 1px solid black;
	border-image: linear-gradient(to bottom, #2980b9 0%, #8e44ad 100%) 1;
	text-align: center;
	
}

span{
    margin-right: 6px;
}

.elemento{
    display: flex;
    flex-direction: row;
    gap: 47px;
    align-items: center;
    height: 53px;
    padding-left: 5px;
    justify-content: center;
}

.elemento a{
    text-decoration: none;
}

.elemento10 a{
    text-decoration: none;
}
.lista a{
	text-decoration: none;
}

.elemento10{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 35px;
    padding-left: 3px;
}

.elemento10 span{
    margin-right:0px;
}

.starts{
    display: flex;
    flex-direction: row;
    width: 110px;
}