<div>

    <nav class="ranking">
    
        <h3>Ranking</h3>

        <ul class="lista" >
            <li><div class="elemento" ><span>1.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento" ><span>2.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento" ><span>3.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento" ><span>4.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento" ><span>5.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento" ><span>6.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento" ><span>7.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento" ><span>8.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento" ><span>9.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
            <li><div class="elemento10" ><span>10.</span><img src="../../images/pruebaperfil.jpg" alt=""> <a href="">barbershop</a><nav class="starts">🌟🌟🌟🌟🌟</nav> </div></li>
        </ul>
    </nav>





</div>