.sing-in {
    margin:0 auto;
    max-width:500px;
    color: white;
    background-color: #171f2a;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 1px 5px 16px 8px rgba(0,0,0,0.75);
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

form h3{
    text-align: center;
}

.btn-type{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.btn-type label {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-type input {  
    width: 15px;
}

.home-sing-in{
    background-color: rgb(182, 182, 182);
    border-radius: 100%;
    padding: 5px;
}

.container-home-next{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    gap: 270px;
    padding: 0  10px;
    margin-top: 50px;
}

.container-home-next img{
    width: 40px;
}

.container-home-next button{

    width: 80px;
    background-color: #1670d8;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    right: -20px;
}

.requerido{
    color: red;
    /*rojo alternativo-> #e95a5ae3 */
}

.container-home-next button a{
    color: white;
}


.wrapper{
    background-color: #171f2a;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.inputData{
    width: 100%;
    position: relative;
    background-color: #171f2a;
    border-radius: 10px;
    border: none;
}

.inputData input{
    border-bottom: 1px solid white;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #171f2a;
    color: #ffffff;
}

.inputData input:focus ~ label,
.inputData input:valid ~ label{
    transform: translateY(-15px);
    font-size: 15px;
}
.wrapper input[type="email"]:focus ~ label,
.inputData input:valid ~ labe{
    transform: translateY(-15px);
    font-size: 15px;
}

.inputData label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: rgb(145, 145, 145);
    pointer-events: none;
    transition: all 0.4s ease;
}

 .inputData .line{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.inputData .line::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.inputData input:focus ~ .line:before,
.inputData input:valid ~ .line:before{
    transform: scaleX(1);
}

form a{
    text-decoration: none;
    color: rgb(186, 186, 186);
    text-align: center;
}
.terminos a label:hover{
 color: rgb(17, 166, 235);
}