<div class="sing-in">

  <form>

    <h3>Registro de usuario</h3>


    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="text" name="nickname" autocomplete="off" required [(ngModel)] = "nickname">
        <div class="line" ></div>
        <label for="nickname">Apodo</label>
      </div>
    </div>

    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="text" name="city" autocomplete="off" required  [(ngModel)]="city" >
        <div class="line" ></div>
        <label for="city">Ciudad</label>
      </div>
    </div>

    <h3>Tipo de usuario</h3>

    <div class="btn-type">
      <label for=""><input [(ngModel)]="type_user" value="3" type="radio" name="type"/>Cliente</label>
      <label for=""><input [(ngModel)]="type_user" value="2" type="radio" name="type"/>Barbero</label>
      <label for=""><input [(ngModel)]="type_user" value="1" type="radio" name="type"/>Barberia</label>
    </div>

    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="text" name="cellphone" autocomplete="off" required [(ngModel)]="cellphone" >
        <div class="line" ></div>
        <label for="cellphone">Telefono</label>
      </div>
    </div>

    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="text" name="email" autocomplete="off" required [(ngModel)]="email" >
        <div class="line" ></div>
        <label for="email">Correo</label>
      </div>
    </div>

    <div class="wrapper" >
      <div class="inputData" >
        <input class="intp" type="password" name="constraseña" autocomplete="off" required [(ngModel)]="password">
        <div class="line" ></div>
        <label for="constraseña">Contraseña</label>
      </div>
    </div>

    <div class="container-home-next">
      <div class="home-sing-in"><a href=""><img src="../../../assets/images/icons8-casa-64.png" alt="" class="img-home-sing-in"></a></div>
      <button (click)="saveUser()" type="button" ><a href="">Siguiente</a></button>
    </div>

    <a href="http://localhost:4200/login" class="sign-up">Ya tengo una cuenta</a>

  </form>

  {{type_user}}

</div>