<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="center">
    <h1>Registro de usuario</h1>
    <form method="post " >
  
      <div class="txt_field">
        <input type="text" name="nickname" autocomplete="off" required [(ngModel)] = "usuario.nickname" #nickname="ngModel">
        <span></span>
        <label for="">Nombre</label>
      </div>
  
      <div class="txt_field">
        <input type="date" name="age" autocomplete="off" required  [(ngModel)]="usuario.date" #age="ngModel" class="input_edit" >
        <span></span>
        <label for=""></label>
      </div>
  
      
      <div class="txt_field">
        <input type="text" name="city" autocomplete="off" required  [(ngModel)]="usuario.city" #city="ngModel" >
        <span></span>
        <label for="">Ciudad</label>
      </div>
  
  
      <div class="txt_field">
        <input type="text" name="cellphone" autocomplete="off" required [(ngModel)]="usuario.cellphone" #celllphone="ngModel"  minlength="10">
        <span></span>
        <label for="">Telefono</label>
      </div>
  
      <div class="txt_field">
        <input type="text " name="email" autocomplete="off" autofocus required [(ngModel)]="usuario.username" #email="ngModel"  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
        <span></span>
        <label for="">Correo</label>
      </div>
  
  
      
      <div class="txt_field">
        <input type="password" name="constraseña" autocomplete="off" required  [(ngModel)]="usuario.password"  #password="ngModel">
   
        <label for="">Contraseña</label>
      </div>
      <h3>Tipo de usuario</h3>
      <div class="tipos">
      
        <div class="btn-type">

          <label for=""><input (click)="dataTypeUser(3)" type="radio" name="type"/>Cliente</label>
          <label for=""><input (click)="dataTypeUser(2)" type="radio" name="type"/>Barbero</label>
          <label for=""><input (click)="dataTypeUser(1)" type="radio" name="type"/>Barberia</label>
        </div>
      
      </div>
      <div class="terminos">
        <a routerLink="/terminos" target="_blank"><label for="" ><input type="checkbox" name="type" requiredTrue/>Terminos y Condiciones</label></a>
      </div>
  
     
      <div class="container-home-next">
        <button (click)="saveUser()"  [disabled]=""><a>Registrarse </a></button>
      </div>
     
      <div class="link_devolver">
        <a routerLink="/">Regresar</a>
      </div>
    
    </form>
  
  </div>
</body>
</html>





