<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="title">
    <h1>Barberos de mi Barberia</h1>
    <div class="contenedor-main">
      <div class="card">
        <table class="table"  >
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Perfil</th>
              <th scope="col">nombre</th>
              <th scope="col">Desvincular</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let barberos of barber">
              <th scope="row">{{barberos.id}}</th>
              <td class="imagen"><img src="{{barberos.photo}}" alt=""></td>
              <td class="apodo">{{barberos.nickname}}</td>
              <td><button class="btn btn-outline-primary"(click)="unlink(barberos)">Desvincular</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  <app-list-all-barber></app-list-all-barber>
</body>
</html>






