<div>
    <app-header-barbershop></app-header-barbershop>
</div>

<header>
    <div class="info-perfil">
        <div class="img-perfil">
        </div>
        <p style="font-size: 30px;">Nombre de usuario</p>
    </div>
    <div class="opciones">
        <button type="text" placeholder="Buscar">Reserva</button>
    </div>
</header>
<div class="body">
    <div class="descripcion">
        <p>Descripcion: Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> 
            Voluptate laborum, quasi commodi officiis quisquam eligendi<br>
             assumenda quibusdam perferendis molestiae corporis.</p>
        <p>cuidad: Armenia</p>
        <p>trabaja en: barberApp</p>
    </div>
    <div class="centro">
        <p>Nombre de usuario del perfil</p>
        <p>Descripcion: Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> 
            Voluptate laborum, quasi commodi officiis quisquam eligendi<br>
            assumenda quibusdam perferendis molestiae corporis.</p>
        <div class="contenido-perfil">
            
        </div>
    </div>