header{
    border: 1px solid black;
    height: 195px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #171f2a;
    color: white;
}

header button{
    margin-right: 100px;
    background-color: #1465bb;
    width: 124px;
    border-radius: 10px;
    color: white;
}


.info-perfil{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img-perfil{
    background-color: #c9c9c9;
    border: 1px solid black;
    border-radius: 100%;
    height: 133px;
    width: 155px;
}

.body{
    display: flex;
    flex-direction: row;
}

.descripcion{
    width: 30%;
    padding-bottom: 24%;
    border: 1px solid black;
    background-color: #171f2a;
    color: white;
}

.centro{
    border: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #121d2d;
    color: white;
}

.contenido-perfil{
    border: 1px solid black;
    height: 100%;
    width: 70%;
    background-color: #171f2a;
    color: white;
}