<div class="sing-in">
  <div class="sing-in-header">
    <h1>Sing In</h1>
  </div>
  <div class="sing-in-form">
    <div class="container-age">
      <h3>Direccion:</h3>
      <input type="number" placeholder="Direccion"/><br>
    </div>
    <br>
    <br>
    <div class="container-description">
      <h3>Descripción:</h3>
      <input type="text" placeholder="Description"/>
    <br>
    </div>
    <div class="container-home-next">
      <div class="home-sing-in"><img src="../../../assets/images/icons8-casa-64.png" alt="" class="img-home-sing-in"></div>
      <br>
      <input type="button" value="Finish" class="sing-in-next"/>
      <br>
    </div>
      <a class="sign-up">Login!</a>
    <br>
  </div>
</div>
