<app-header-barbershop></app-header-barbershop>
<section>
    <h1>Malla de turnos</h1>
    <div class="containers">
        <div class="containerQuotes">
            <h2>Citas</h2>
        </div>

        <div class="containerInformation">
            <div class="boxState">
                <p>Completado: <span class="Filled">◉</span></p>
                <p>En curso: <span class="InProgress">◉</span></p>
                <p>Pendiente: <span class="Earring">◉</span></p>
            </div>

            <div class="containerBoxs">
                <div class="boxInformation">
                    <p>Nombre del Cliente</p>
                    <p>Nombre del Barbero</p>
                    <p class="InProgress">◉</p>
                </div>
                <div class="boxInformation">
                    <p>Nombre del Cliente</p>
                    <p>Nombre del Barbero</p>
                    <p class="Filled">◉</p>
                </div>
                <div class="boxInformation">
                    <p>Nombre del Cliente</p>
                    <p>Nombre del Barbero</p>
                    <p class="Filled">◉</p>
                </div>
                <div class="boxInformation">
                    <p>Nombre del Cliente</p>
                    <p>Nombre del Barbero</p>
                    <p  class="Earring">◉</p>
                </div>
            </div>
        </div>
    </div>
</section>