
<div class="container-main">
  <h1>catalogo</h1>
    <div class="container-catalogue">  
      <div class="container-agregar">
          <div class="img">
              <p>Catalogo 1</p>
          </div>
          <div class="img">
            <p>Catalogo 2</p>
          </div>
          <div class="img">
            <p>Catalogo 3</p>
          </div>
          <div class="img">
            <p>Catalogo 4</p>
          </div>
          <div class="img">
            <p>Catalogo 5</p>
          </div>
          <div class="img">
            <p>Catalogo 6</p>
          </div>
        <button>Agregar Elemento</button>
      </div>
    </div>
    
  
            
 
 
</div>