.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    width: 400px;
    height: 400px;
    color: white;
}
.postFile{
    width: 360px;
    height: 115px;
    border: 1px white dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    border-radius: 5px;
}
