
<app-header-barbershop></app-header-barbershop>
<h1>catalogo</h1>
<div class="container-one">
    <div class="container-two">
      <div class="container-contenido">
          <a>⁝</a>
      </div>
      <div class="container-contenido">
        <a>⁝</a>
    </div>
    <div class="container-contenido">
      <a>⁝</a>
  </div>
            
      <div class="container-agregar">
            <a href=""><img src="../../../assets/images/mas.png" alt=""></a>
            <p>Agregar Elemento</p>
      </div>
    </div>
</div>