/* You can add global styles to this file, and also import other style files */
app-modal-barbershop{
    position: absolute;
}
ngb-modal-window{
    background-color: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(1git 0px);
    -webkit-backdrop-filter: blur(1px);
}
app-modal-barber{
    position: absolute;
}

body{
    background-color: 
    #f5f3f7;
}