<section>
    <div class="containerState">
        <h1>Malla de turnos</h1>
        <div class="boxState">
            <h2>Indicador del estado</h2>
            <p>Completado: <span class="Filled">◉</span></p>
            <p>En curso: <span class="InProgress">◉</span></p>
            <p>Pendiente: <span  class="Earring">◉</span></p>
        </div>
    </div>

    <div class="containeInformation">
        <div class="boxInformation">
            <p>Nombre del Barbero</p>
            <p>Nombre del Cliente</p>
            <p  class="Earring">◉</p>
            <div></div>
        </div>
        <div class="boxInformation">
            <p>Nombre del Barbero</p>
            <p>Nombre del Cliente</p>
            <p class="Filled">◉</p>
        </div>
        <div class="boxInformation">
            <p>Nombre del Barbero</p>
            <p>Nombre del Cliente</p>
            <p  class="Earring">◉</p>
        </div>
        <div class="boxInformation">
            <p>Nombre del Barbero</p>
            <p>Nombre del Cliente</p>
            <p class="InProgress">◉</p>
        </div>
    </div>
</section>
