<div class="padre">

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Eliminando...</p>
    </ngx-spinner>
    <h1>Catalogo</h1>
    <div class="intento" *ngIf="   images.length != 0">
        <div class="containerCatalogue" *ngFor="let image of images">
            <div class="catalogue">
                <div class="card">
                    <h3 class="card-title">{{image.name}}</h3>
                    <div class="card-body">
                        <h5 class="card-titlr">{{image.id}}</h5>
                    </div>
                    <div class="images">
                        <img src="{{image.url}}" alt="">
                    </div>

                    <div class="card-body">
                        <p class="card-desc">{{image.description}}</p>
                    </div>

                    <div class="card-footer text-muted">
                        <button class="btn_ver" (click)="openModal()">👁️‍🗨️</button>
                        <button class="btn_borrar" (click)="deleter(image.id)">🗑️</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="algo" *ngIf=" images &&  images.length == 0" #alertavacio>
        <p>No tienes registrado ningun catalogo</p>
    </div>

</div>
