h1{
    color: white;
}
.containerCatalogue{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
}
.catalogue{
    background-color: #171f2a;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.52);
    box-shadow: 0px 5px 9px -1px rgba(0,0,0,0.52);
}
.card3{
    background-color: #171f2a;
    border-radius: 4px;
}