<h1>Catalogo</h1>
<button (click)="loaderImage()" >Enviar</button>
<div class="row" *ngFor="let image of images">
    <div class="col-md-4">
        <div class="card mb-3">
            <h3 class="card-header">{{image.name}}</h3>
            <div class="card-body">
                <h5 class="card-titlr"><b>ID:</b>{{image.id}}</h5>
            </div>
            <img style="height: 200px; width: 100%; display: block;" src="{{image.url}}" alt="">
            
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body d-flex justify-content-between">
              <button  class="btn btn-outline-prymary"><i class="far fa-eye"></i> Ver</button>
              <button  class="btn btn-outline-danger"><i class="far fa-trash-alt"></i>Borrar</button>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
        </div>
    </div>

    
    
</div>