*{
    margin: 0;
    padding: 0;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}

.card{
    display: block;
    transform: translateY(-15px);
    -webkit-box-shadow: -1px -1px 14px 4px rgba(0,0,0,0.71);
    -moz-box-shadow: -1px -1px 14px 4px rgba(0,0,0,0.71);
    box-shadow: -1px -1px 14px 4px rgba(0,0,0,0.71);
    background-color: #171f2a;
    border-radius: 10px;
}


.colum{
    background-color: white;
    padding: 30px;
    width: auto;
    height: auto;
    border-radius: 10px;
}
.title{
    height: 43px;
    text-align: center;
    margin: 23px 0px
}

.description{
    text-align: center;
    padding: 51px;
}
.button{
    display: flex;
    justify-content: space-between;
}

.card{
    margin: 80px 11%;
}
