*{margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}
    
    .contenedor{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .contenedor figure{
        position: relative;
        height: 298px;
        cursor: pointer;
        width: 629px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgb(0 0 0 / 50%);
        margin: -52% 2%;
    }
    .contenedor figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,103,123,0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .contenedor figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .contenedor figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .contenedor figure:hover > img{
        transform: scale(1.3);
    }
    .contenedor figure .capa h3{
        color: #fff;
        font-weight: 400;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
    }
    .contenedor figure .capa p{
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;
    }
    .capa button{
        background: none;
        border: none;
        width: 40%;
        height: 46px;
        background: #2691d9a9;
        border-radius: 25px;
        font-size: 18px;
        color: #e9fafb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        margin: 0 41px;
        text-decoration: none;
        padding: 8px -50px;
        margin: 47px 0;
    }


.intento {
        /* display: grid; */
    /* padding: 0px 0px 30px 0; */
    /* grid-template-rows: 350px 350px; */
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: end;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 6%;
    border: 3px solid;
    border-image: linear-gradient(to bottom, #2980b9 0%, #8e44ad 100%) 1;
    width: 58%;
    height: 430px;
}

.padre {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    margin: 5% 5%;
}

